.card {
  /* Center the content of my cards on wider screens. */
  display: flex;
  justify-content: center;

  background-color: white;
  font-size: 20px;
}

.card > * {
  /* https://ishadeed.com/article/min-max-css/#setting-min-width-to-zero-with-flexbox */
  min-width: 0;
  /* Set maximum width to minimize work involved in making responsive cards. My
  * cards do not need to be wide, they just need to support mobile-like
  * screens. */
  max-width: 24em;
}

.card img {
  /* ~350px is the width of my Pixel 7 Pro, so make sure that no image is wider
  * than that. If they are, AnkiDroid has a flash of large image. */
  max-width: 340px;
}

.img-lead {
  display: flex;
  justify-content: center;
  margin: 0 0 0.75em 0;
}

.border-img {
  border: black solid thick;
}

.bg-white {
  background-color: white;
}

kbd.stackoverflow {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  line-height: 1.4;
  color: hsl(210, 9%, 91%);
  text-shadow: 0 1px 0 hsl(0, 0%, 17.5%);
  background-color: hsl(210, 4%, 26%);
  border: 1px solid hsl(210, 6.5%, 52%);
  border-top-color: hsl(210, 8%, 45%);
  border-radius: 3px;
  box-shadow: 0 1px 1px hsla(210, 8%, 5%, 0.8);
}

/* A command snippet like on https://git-scm.com/docs/git-cherry-pick. */
pre.git-scm {
  padding: 0.5em 1em;
  line-height: 1.29em;
  color: #4e443c;
  background-color: #e8e7dd;
  border: solid 1px #efeee6;
  border-radius: 3px;
}

.nightMode pre.git-scm {
  color: rgb(188, 183, 174);
  background-color: rgb(38, 37, 26);
  border-color: rgb(54, 58, 61);
}

code.git-scm {
  display: inline;
  padding: 0 5px;
  word-break: break-all;
  border-radius: 3px;
  color: #f14e32;
  background-color: #fff;
  border: solid 1px #efeee6;
}

.nightMode code.git-scm {
  color: rgb(242, 90, 64);
  background-color: rgb(24, 26, 27);
  border-color: rgb(54, 58, 61);
}

/* Tailwind-like utility classes */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.leading-snug {
  line-height: 1.35em;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
